@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

body{
    background-color: #F0F5EF;
    font-family: 'Raleway';
}

h1{
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 200%;
    color: #0C3C08;
    margin-top: 3%;
    margin-left: 40%;
    position: relative;
    z-index: 2;
}

#menubar, h1{
    display: inline-flex;
}

.header{
    background-color: #C5D8C4;
    height: 250px;
    margin: -220px -7px 0px -7px;
    margin-top: -220px;
    position: relative;
    z-index: 1;
}

#menubar{
    color: black;
    position: relative;
    z-index: 2;
    font-size: 200%;
    margin-top: 3%;
    margin-left: 1%;
}

h3, #arrows{
    display: inline-flex;
}

.language1{
    margin-left: 30%;
    margin-right: 9.5%;
    margin-top: 5%;
    font-weight: 200;
    font-size: 200%;
}

#arrows{
    font-size: 200%;
    margin-right: 10%;
    cursor: pointer;
}

.language2{
    font-weight: 200;
    font-size: 200%;
}

/*.text-content{
    width: 565px;
    margin-left: 30%;
    border-style: none;
    background-color: #D9D9D9;
}*/

.totranslate, .translated{
    display: inline-flex;
}

.totranslate{
    margin-left: 29%;
    border-style: none;
    border-block-color: none;
    outline: none;
    text-align: unset;
    background-color: #D9D9D9;
    width: 286px;
    height: 200px;
    font-size: 200%;
}

.translated{
    margin-left: 1%;
    border-style: none;
    border-block-color: none;
    outline: none;
    text-align: unset;
    background-color: #D9D9D9;
    width: 286px;
    height: 200px;
    font-size: 200%;
}



